<a href="https://colab.research.google.com/github/harishbhagtani/python-basics/blob/master/Python_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Python Data Structures**

**Data Structure**
it is a collection of data elements(such as numbers, characters or even data structures) that is structured in some way. For example, lists, tuples, sequence, etc.

#**1. Lists**


* One of the sequence data structure
* Collection of items in like strings, numbers, etc in python
* Enclose with square brackets []
* Each item in list is assinged index value
* Index values starts from zero(0)
* List items are seperated by comma(,)
* List items are mutable and can be changed
* A single list can have multiple data types

In [0]:
#Creation of an empty list
emptyList = []
lst1 = [1,2,3,4,5] #List of integers
lst2 = [[1,2,3,4],[1,2,3]] #List of list
lst2 = ["Harry", "Amit", "Suyash","Akash"] #List of strings
lst3 = [1,2,"Harry",2.3] #List of multiple data types

* We use **len()** to get the **length** of list

In [0]:
#Example to print length of a list
lst = [1,2,3,4,5]
print(len(lst))

5

* We use **append()** to **add element** to an already created list

In [0]:
#Example to add element to list
print("Prev list : ", lst)
lst.append(2)
lst.append("Harish")
print("New list : ",lst)

Prev list :  [1, 2, 3, 4, 5]
New list :  [1, 2, 3, 4, 5, 2, 'Harish']

**append()** method can also be used to add one **list** to another. In this, the items will be added in form of single element as a list.

In [0]:
#Example to appending one list to another
prevList = [1,2,3,4]
newList = [5,6,7,8]
print("Prev List : ", prevList)
prevList.append(newList)
print("New List : ", prevList)

Prev List :  [1, 2, 3, 4]
New List :  [1, 2, 3, 4, [5, 6, 7, 8]]

* **extend()** is used to **append** one list to another list. In this, items will be added as seperate elements in the list.

In [0]:
#Example to extend() in list to append one list to another
prevList = [1,2,3,4]
print("Prev List : ", prevList)
prevList.extend(newList)
print("New List : ", prevList)

Prev List :  [1, 2, 3, 4]
New List :  [1, 2, 3, 4, 5, 6, 7, 8]

We can also extern a list using " + " key

In [0]:
#Example of extending a list using +
lst1 = [1,2,3,4]
lst2 = [5,6,7,8]
lst1 = lst1 + lst2
print("joined list is : ", lst1)

joined list is :  [1, 2, 3, 4, 5, 6, 7, 8]

* We use **insert(index, item)** to insert an element to a **particular index** in the list

In [0]:
#Example of insert()
print("Previous List : ", lst)
lst.insert(2, "New Element at 2")
print("New List : ", lst)

Previous List :  [1, 2, 3, 4, 5, 2, 'Harish']
New List :  [1, 2, 'New Element at 2', 3, 4, 5, 2, 'Harish']

* We use **remove(item)** function to remove an element from list. We can only pass **one item** at a time in **remove(item)**.

In [0]:
#Example to remove an element from list
lst = [1,2,3,4]
print("Prev list : ", lst)
lst.remove(2)
print("New List : ", lst)

Prev list :  [1, 2, 3, 4]
New List :  [1, 3, 4]

If there are two occurances of an element in list, **remove()** only removes the **first occurance** of that element in the list.

In [0]:
#Example to remove first occurance of an element from list
lst = [2,3,4,2,5,7]
print("Prev List : ", lst)
lst.remove(2)
print("New List : ", lst)

Prev List :  [2, 3, 4, 2, 5, 7]
New List :  [3, 4, 2, 5, 7]

* We use **del** to delete item at a certain **index**

In [0]:
#Example to delete item at a cretain index from list
print("Prev List : ", lst)
del lst[3]
print("New List : ", lst)

Prev List :  [3, 4, 5, 7]
New List :  [3, 4, 5]

 We can also use **pop()** to **delete** item at a **certain index**. **pop()** returns the item that was deleted.

In [0]:
#Examole to deleting an element using pop()
print("Prev List : ", lst)
deletedItem = lst.pop(1)
print("New List : ", lst)
print("Deleted Item : ", deletedItem)

Prev List :  [3, 5]
New List :  [3]
Deleted Item :  5

* **in** and **not in** keywords are used to check whether an element exists in a list or not

In [0]:
#Example of in and not in keywords
lst = [1,2,3,4]
if 1 in lst : 
  print("1 is present in list")
else : 
  print("1 is not in list")

1 is present in list

* **reverse()** is used to **reverse** a list.

In [0]:
#Example of reversing a list
print("Prev List : ", lst)
lst.reverse()
print("New Reversed List : ", lst)

Prev List :  [4, 3, 2, 1]
New Reversed List :  [1, 2, 3, 4]

* **sorted(list)** function is used to **sort** a list. It takes a **list** as an argument and returns the **sorted list**.

In [0]:
#Example of sorting a list
lst = [2,8,4,6,2,3,9,0,3]
print("Prev List : ", lst)
lst = sorted(lst)
print("Sorted List in ascending order : ", lst)
#Put reversed = true for descending order
lst = sorted(lst, reverse = True)
print("Sorted list in descending order : ", lst)

Prev List :  [2, 8, 4, 6, 2, 3, 9, 0, 3]
Sorted List in ascending order :  [0, 2, 2, 3, 3, 4, 6, 8, 9]
Sorted list in descending order :  [9, 8, 6, 4, 3, 3, 2, 2, 0]

We can also sort the list by just calling **sort()** function of the **list object**.

In [0]:
#Example of using sort()
lst = [1,5,3,4]
print("Unsorted List : ", lst)
lst.sort()
print("Sorted list : ", lst)

Unsorted List :  [1, 5, 3, 4]
Sorted list :  [1, 3, 4, 5]

We cannot call sort() on lists with different data types like : Numbers combined with strings

In [0]:
combinedlist = [1,2,7,4,"1",5,"b"]
combinedlist.sort()

TypeError: ignored

* We can use **split**() to split a **string** into a **list**. We have to pass split character to the split(). If we don't pass any character, default argument will be " " (space) character.

In [0]:
#Example of using split method
paragraph = "My name is Harish"
paragraphList = paragraph.split()
print("The paragrahph list is : ", paragraphList)

The paragrahph list is :  ['My', 'name', 'is', 'Harish']

**List Slicing : To access a particular section of list**

For example, there is a list with 10 elements and we have to access from element 2 to 6, means a segment of the list, then we can use list slicing.



```
For example we have to get the values from index m to n
syntax : list[m : n + 1]
```

In [0]:
#Example of list slicing
lst = [0,1,2,3,4,5,6,7,8,9]
newLst = lst[2:6]
print("New Sliced list is : ", newLst)

New Sliced list is :  [2, 3, 4, 5]

In [0]:
#Example to print alternate elements of a list
print("Alternate elemenets : ", lst[::2])

Alternate elemenets :  [0, 2, 4, 6, 8]

In [0]:
#If we want a start point of printing alternate elements then
print("Alternate elements from index 4", lst[4::2])

Alternate elements from index 4 [4, 6, 8]

* **count()** is used to **count** the **occurance** of particular element in List

In [0]:
#Example of count()
lst = [1,2,2,4,5,8,2]
occurance2 = lst.count(2)
print("Occurances of 2 : ", occurance2)

Occurances of 2 :  3

#**2. Tuples**

* Tuple is also an important data type in python
* We cannot change the data after assigning it to tuple, whereas elements in the list can be changed. Hence, tuple is **immutable**.
* As elements in a tuple are **immutable**, we **cannot delete** an element of a tuple. But we can delete an entire tupele using **del** keyword.


```
tpl1 = (1,2,3,4,5)
del tpl1
```


* We can create a tuple using **paranthese** ().
* Tuples can also have **multiple data types**, just like lists.
* There can be other tuples as the element of a tuple. **(Nested Tuple)**

In [0]:
tple = (1,2,3,4, "Harish",(1,2,3))
print("Tuple : ", tple)

Tuple :  (1, 2, 3, 4, 'Harish', (1, 2, 3))

* Even if there is only **one element** in a tuple, it should have a **comma**. otherwise it will be considered **as a string**.

In [0]:
#Example
tpl1 = ("String") #Without comma it will be considered as String
print("Type of tuple 1 : ", type(tpl1)) #This will be taken as string
tpl2 = ("String",)
print("Type of tuple 2 : ", type(tpl2)) #This will be taken as tuple

Type of tuple 1 :  <class 'str'>
Type of tuple 2 :  <class 'tuple'>

* **Paranthesis** is **optional** in tuple.

In [0]:
#Example
tpl1 = "Harish","Suyash" #This will be considered as tuple even without (paranthesis)
print("Type is : ", type(tpl1), " ", tpl1)

Type is :  <class 'tuple'>   ('Harish', 'Suyash')

* Elements can be **accessed** in tuples using index in **square braces [0]**

In [0]:
print("Given tuple : ", tpl1)
print("Element at index 0 : ",tpl1[0])

Given tuple :  ('Harish', 'Suyash')
Element at index 0 :  Harish

* Elements in a tuple can be **sliced** same as lists

In [0]:
tpl1 = (1,2,3,4,5,6)
print("Elements from index 1 to 4 is ", tpl1[1:5])

Elements from index 1 to 4 is  (2, 3, 4, 5)

* **CHANGING TUPLES : Tuples are immutable**

Tuples **cannot** be changed. But if it's elements are **mutable items** like **lists**, they **can be changed**

In [0]:
#Example of attempting to change tuple data
tpl1 = (1,2,3,4)
tpl[2] = 3

NameError: ignored

But if there is **mutable** element in tuple, then its element **can be changed**.

In [0]:
#Example
lst1 = [1,2,3,4]
lst2 = [5,6,7,8]
tpl1 = (lst1, lst2)
print("Previous State of tuple : ", tpl1)
tpl1[1].append(2)
print("New state of tuple : ", tpl1) # 2 will be added at last of the element at index 1 in tuple

Previous State of tuple :  ([1, 2, 3, 4], [5, 6, 7, 8])
New state of tuple :  ([1, 2, 3, 4], [5, 6, 7, 8, 2])

* We can **concatenate** two tuples and store them in a **third one** using (+) operator.

In [0]:
#Example
tpl1 = (1,2,3,4)
tpl2 = (5,6,7,8)
tpl1 = tpl1 + tpl2
print("Concatenated Tuple is : ", tpl1)

Concatenated Tuple is :  (1, 2, 3, 4, 5, 6, 7, 8)

* We can **repeat** the elements in a couple by **repeat opeation**.

In [0]:
#Example of repeat operation on a tuple
tpl1 = (("Harish", ) * 5)
print("The tuple is : ", tpl1)

The tuple is :  ('Harish', 'Harish', 'Harish', 'Harish', 'Harish')

* We can get the **frequency** of a paricular element in tuple using **count(element)** function.

In [0]:
#Example of getting frequency of an element in Tuple
tpl1 = (1,2,2,3,4,5,6,2,7)
print("The count of 2 in tuple is : ", tpl1.count(2))

The count of 2 in tuple is :  3

* Get the **index** of a particular element in tuple using **index(element)** function. This will give the index of **first occurance** of the element.

In [0]:
#Example
tpl1 = (1,2,3,4,5)
print("The index of 3 is : ", tpl1.index(3))

The index of 3 is :  2

* Just like lists, we can check whether an element **exists or not** in a tuple using **in** keyword.

In [0]:
#Example
print("Given tuple is : ", tpl1)
print("Does 3 exists in tuple ? : ",3 in tpl1)
print("Does 10 exists in tuple ? : ", 10 in tpl1)

Given tuple is :  (1, 2, 3, 4, 5)
Does 3 exists in tuple ? :  True
Does 10 exists in tuple ? :  False

* We can get **length** of tuple using **len(tuple)**.

In [0]:
print("Given tuple : ", tpl1)
print("Length of tuple is : ", len(tpl1))

Given tuple :  (1, 2, 3, 4, 5)
Length of tuple is :  5

* Tuples are **immutable** and hence **cannot be sorted** directly. But, they **can be sorted and stored as a list** in another variable.

In [0]:
#Example
print("Unsorted tuple : ", tpl1)
lst1 = sorted(tpl1)
print("The sorted list form is : ", lst1)

Unsorted tuple :  (1, 2, 3, 4, 5)
The sorted list form is :  [1, 2, 3, 4, 5]

* **Maximum** value and **minimum** value of a tuple is given by **max()** and **min()** respectively.

In [0]:
print("Given Tuple : ", tpl1)
print("Max Value : ", max(tpl1))
print("Minimum Value : ", min(tpl1))

Given Tuple :  (1, 2, 3, 4, 5)
Max Value :  5
Minimum Value :  1

* **Sum** of the values in a tuple can be done using **sum()**.

In [0]:
#Example
print("Given tuple", tpl1)
print("Sum of it's elements : ", sum(tpl1))

Given tuple (1, 2, 3, 4, 5)
Sum of it's elements :  15

#**3. Sets**

* Sets are **mutable** and can be **changed**.
* Used to perform **mathematical** operations like set **union**, **intersection**, **symmytric difference**, etc.
* Can be created using **{} curly braces**.
* They **do not** have **indexes** or **keys**. Hence, they are **unordered**.
* Sets **do not** allow **duplicate** elements.
* Sets can be created in multiple ways.

In [0]:
#Example of set creation
s1 = {} #Empty Set
print("Empty Set : ", s1)
s1 = {1,2,3,4}
print("Set with elements : ", s1)
s1 = {1,2,2,3,4,2,5,5,4}
print("Set cannot have multiple elements : ", s1) # Each element will be printed only one
s1 = set(lst) # Can be created using set() from list, tuples, etc.
print("Set {} created from a list {}.".format(s1,lst))

Empty Set :  {}
Set with elements :  {1, 2, 3, 4}
Set cannot have multiple elements :  {1, 2, 3, 4, 5}
Set {1, 2, 4, 5, 8} created from a list [1, 2, 2, 4, 5, 8, 2].

* **Single** and **multiple** elements can be **added** to a set using **add()** and **update()** respectively in a set.

In [0]:
#Example
print("Prev Set : ", s1)
s1.add(10) #Adding single element
print("After adding single element : ", s1)
s1.update([11,12,13]) #Adding multiple element
print("After adding multiple elements : ", s1)

Prev Set :  {1, 2, 3, 4, 5, 8, 10}
After adding single element :  {1, 2, 3, 4, 5, 8, 10}
After adding multiple elements :  {1, 2, 3, 4, 5, 8, 10, 11, 12, 13}

* Elements in a set can be **removed** using **discard()** or **remove()**.

In [0]:
#Example remove 10 and 11 from s1
print("Prev Set : ", s1)
s1.remove(10)
s1.discard(11)
print("After elements 10 and 11 being removed : ", s1)

Prev Set :  {1, 2, 3, 4, 5, 8, 10, 11, 12, 13}
After elements 10 and 11 being removed :  {1, 2, 3, 4, 5, 8, 12, 13}

* if element is **not present** and we remove it using remove(), we'll get **key error**. But, if we'll use **discard()**, it'll **not** raise an error.

In [0]:
#Example of removing an unexisting element using remove
s1.remove(11)

KeyError: ignored

In [0]:
#Same example using discard
s1.discard(11)
print("No Error")

No Error

* We can use **pop()** to remove **random element** from a set. **pop()** **returns** the deleted element.

In [0]:
#Exampe of removing a random element
print("Prev set : ", s1)
removed = s1.pop()
print("New set {} with element {} being removed".format(s1, removed))

Prev set :  {1, 2, 3, 4, 5, 8, 12, 13}
New set {2, 3, 4, 5, 8, 12, 13} with element 1 being removed

* We can **remove all the elements** using **clear()**

In [0]:
print("Non-Empty set : ", s1)
s1.clear()
print("After clearing all elements : ", s1)

Non-Empty set :  {2, 3, 4, 5, 8, 12, 13}
After clearing all elements :  set()

* We can get the **union** of two sets using **"|"** (OR) operator or by using **union()**.

In [0]:
#Example of union
s1 = {1,2,3,4}
s2 = {1,2,5,6}
un = s1 | s2
print("Set 1 : ", s1)
print("Set 2 : ", s2)
print("Union of 1 and 2 : ", un)

Set 1 :  {1, 2, 3, 4}
Set 2 :  {1, 2, 5, 6}
Union of 1 and 2 :  {1, 2, 3, 4, 5, 6}

* We can get **intersection** of two sets using **"&"** (AND) operator or by using **intersection()**.

In [0]:
#Example of intersection
inter = s1 & s2
print("Set 1 : ", s1)
print("Set 2 : ", s2)
print("Intersection of 1 and 2 : ", inter)

Set 1 :  {1, 2, 3, 4}
Set 2 :  {1, 2, 5, 6}
Intersection of 1 and 2 :  {1, 2}

* We can get the **difference of elements** in two sets by **subtracting** them or using **difference()**. Difference means element that are **present in first** set but **not in second** set.

In [0]:
#Example of difference
diff = s1 - s2
print("Set 1 : ", s1)
print("Set 2 : ", s2)
print("Difference of 1 and 2 : ", diff)

Set 1 :  {1, 2, 3, 4}
Set 2 :  {1, 2, 5, 6}
Difference of 1 and 2 :  {3, 4}

* We can get the **symmytric difference** of two sets by using **"^"** operator or by using **symmytric_difference()** function. **Symmytric difference** means getting **all** the elements of both sets except the **common** ones.

In [0]:
#Example of symmytric difference
symdiff = s1 ^ s2
print("Set 1 : ", s1)
print("Set 2 : ", s2)
print("Symmytric Difference of 1 and 2 : ", symdiff)

Set 1 :  {1, 2, 3, 4}
Set 2 :  {1, 2, 5, 6}
Symmytric Difference of 1 and 2 :  {3, 4, 5, 6}

* We can check whether a set is **subset** of another using **issubset()**.

In [0]:
#Example of checking if a set is subset of another
s1 = {1,2,3,4}
s2 = {1,2,3}
subset = s2.issubset(s1)
print("Set 1 : ", s1)
print("Set 2 : ", s2)
print("Is set 2 a subset of set 1 ? : ", subset)

Set 1 :  {1, 2, 3, 4}
Set 2 :  {1, 2, 3}
Is set 2 a subset of set 1 ? :  True

#**Frozen Sets**
* Just like **sets** but they are **immutable** like **tuples**.
* Can be **created** using function **frozenset()**.
* frozensets are **hashable** and hence, they can be used as **dictionary keys**
* **Doesn't have** **add()** and **remove()** as it is **immutable**.
* **Supports** various functions like : copy(), union(), intersetion, issubset(), issuperse(), difference(), symmytric_difference(), isdisjoined(), etc.

#**4. Dictionary**

* **Unordered** collection of items
* It has **key value** pairs to store data
* **Values** can be accessed using respective **keys**
* Values **cannot** be accessed using **index**
* Can be created by specifying keys and their respective values inside **curly braces** {key : value, key : value} seperated by **comma(,)**
* **Keys** can be of **any data type** and **values** can also be of **any data type**
* Used because it is **efficient** and data is **stored** in such a way that data can be searched **without going through each item** sequentially.
* A single dictionary can store elements with **multiple data types**

In [0]:
#Example of creating a dictionary with string keys and integer keys
#Empty Dictionary 
dic = dict()
print("Empty Dictionary : ", dic)

#Dictionary with string Keys
dic = {"firstKey" : "firstValue", "secondKey" : "secondValue"}
print("Dictionary with string keys : ", dic)

#Dictionary with integer keys
dic = {1 : "first",2:"second"}
print("Dictionary with int keys", dic)

#Creating dictionary with list of tuples
dic = dict([(1,"first"),(2, "second"),(3,"I am created using list of tuples")])
print("Dictionary created with list of tuples : ", dic)

Empty Dictionary :  {}
Dictionary with string keys :  {'firstKey': 'firstValue', 'secondKey': 'secondValue'}
Dictionary with int keys {1: 'first', 2: 'second'}
Dictionary created with list of tuples :  {1: 'first', 2: 'second', 3: 'I am created using list of tuples'}

* **Values** can be **accessed** by passing key name in **square braces dict['key']** or we can use **get(key)** function on dictionary object. If the key is **non-exisiting**, then **get()** returns **None** and doesn't give an error.

In [0]:
#Example of getting a value from dictionary
print("The value at key '2' is : ", dic[2])

The value at key '2' is :  second

In [0]:
#It gives an error when key is not present
val = key[10]

NameError: ignored

In [0]:
#Getting a value using get()
print("Getting value using get() : ", dic.get(2))

#Trying to get a non-existing key
print("Getting a non exitsing key : ", dic.get(10))

Getting value using get() :  second
Getting a non exitsing key :  None

* We can **add** and **modify** elements of a dictionary by following operations :

In [0]:
#Starting state of the dictionary
print("Before adding a new key : ", dic)

#Example of adding a new key
dic[4] = "Four"
print("After adding value with key \'4\' : ", dic)

#Example of modifying a key
dic[4] = "Modified Four"
print("After modifying value at key \'4\'", dic)

Before adding a new key :  {1: 'first', 2: 'second', 3: 'I am created using list of tuples'}
After adding value with key '4' :  {1: 'first', 2: 'second', 3: 'I am created using list of tuples', 4: 'Four'}
After modifying value at key '4' {1: 'first', 2: 'second', 3: 'I am created using list of tuples', 4: 'Modified Four'}

* We can **remove** or **delete** an item in a dictionary using **pop(key)** function or popitem() function. **popitem()** functions removes any **random** key. We can also use **del** keyword.

In [19]:
#Assigning values to dic
dic = {1 : "One", 2:"Two", 3:"Three"}

#Example of removing a item from dictionary
print("Prev State of Dict : ", dic)
dic.pop(3)
print("After removing element with key 3 : ", dic)

#Example of popitem()
dic.popitem()
print("Example of popitem() : ", dic)

#Example of deleting an item with del keyword
del dic[1]
print("After deleting last element  : ", dic)

Prev State of Dict :  {1: 'One', 2: 'Two', 3: 'Three'}
After removing element with key 3 :  {1: 'One', 2: 'Two'}
Example of popitem() :  {1: 'One'}
After deleting last element  :  {}

* We can use **clear()** to remove all items from key.

In [20]:
#Example of removing all items
dic = {1 : "One", 2:"Two", 3:"Three"}
print("Prev state  : ", dic)
dic.clear()
print("After removing all items : ", dic)

Prev state  :  {1: 'One', 2: 'Two', 3: 'Three'}
After removing all items :  {}

* We can use **copy()** to **copy** values of one dictionary to another

In [21]:
#Example of copy()
dic = {1 : "One", 2:"Two", 3:"Three"}
new_dic = dic.copy()
print(new_dic)

{1: 'One', 2: 'Two', 3: 'Three'}

* We can get the **keys** and **values** in the form of **list of tuples** using **items()** in dict object.

In [22]:
#Example
dic = {1 : "One", 2:"Two", 3:"Three"}
print(dic.items())

dict_items([(1, 'One'), (2, 'Two'), (3, 'Three')])

* We can get a **list of all the keys** in a dictionary using **keys(**)

In [23]:
#Example
dic = {1 : "One", 2:"Two", 3:"Three"}
print(dic.keys())

dict_keys([1, 2, 3])

* We can get **list of all the values** in a dictionary using **values()**

In [24]:
#Example
dic = {1 : "One", 2:"Two", 3:"Three"}
print(dic.values())

dict_values(['One', 'Two', 'Three'])

# **3. Strings**