<a href="https://colab.research.google.com/github/harishbhagtani/python-basics/blob/master/Python_Notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Manual**

# **Variables and Data Types**


*   In python, we do not need to declare variable before using it
*   We simply assing the value to the variable and we do not need to specify data type
*   We can assing multiple variables in a single line
*   We use id() to get the memory location of the variable

```
# This is formatted as code
```

In [0]:
i = 10
x = 2.5
str = "This is a string"

#Multiple Declaration
i,t,k = 10, 20, 30
i = k = k = 10 

print(i)
print(x)
print(str)

10
2.5
This is a string

In [0]:
#Getting memory location of P
p = 5
print(id(p))

10914624

*When we have same value of a variable, it points to the same memory location to save memory*

In [0]:
#Example
x = 2
y = 2
print(id(x))
print(id(y))

10914528
10914528

# **Data types in Python**




*   Every data type in python is a class
*   We use type() to get the class type of a variable
*   Python has build in support for complex numbers
*   isinstance() is used to know whether a variable is instance of a particular class Ex : isinstance(1,int)

In [0]:
x = 2
print("The type of x is", type(x))

The type of x is <class 'int'>

In [0]:
y = 1 + 2j
print("The type of y is : ", type(y))

The type of y is :  <class 'complex'>

In [0]:
z = 2.5
print("Is 2.5 float?")
print(isinstance(z,float))

Is 2.5 float?
True

**Boolean (Class : bool)**



```
 Boolean has two values : True or False
```

In [0]:
x = True
print("Type of x is : ", type(x))

Type of x is :  <class 'bool'>

**String (Class : str)**



*   String is sequence of Unicode Characrters
*   We can use "Double Quotes" or 'Single Quotes' to represent strings
*   Multiline strings can be denoted by """Triple Quotes"""
*Just like C, string characters can be accessd using index that starts from 0

In [0]:
x = "Single line String"
y = """This is a 
      Multi line string"""
print("Single line string : ", x, "\n", "Multi Line String : ",y)
print("Class : ",type(x))

Single line string :  Single line String
 Multi Line String :  This is a
      Multi line string
Class :  <class 'str'>

In [0]:
#Printing the char of string
x = "String is a data type"
print("Character at index 0 is : ", x[0])

#To print last char of from last index
print("Last char is : ", x[-1])
#This is equivalant to x[len(x) - 1]

Character at index 0 is :  S
Last char is :  e

In [0]:
#Slicing of a string
#For example : We want to get the value of string after index 5
print("String after index 5 : \"", x[5:],"\"")

#We can also print from a particular index to a particular index
print("String from index 5 to 10 is : \"", x[5:10],"\"")

String after index 5 : " g is a data type "
String from index 5 to 10 is : " g is  "

**Python List**



*   Ordered Sequence of items
*   Unlike C, all items need not to be of the same data type
*   Data in list is mutable (can be altered)
*   Defined by value seperated by comma(,) inside square braces[]

In [0]:
#Example
array = [1, 1.5,"Hello"]
print("Array : ", array)

#Accessing an index
print("Value at index 0: ", array[0])

#Accessing from one index to abother
#If we write array[m:n] then it returns from m to n-1
print("Value from 0 to 1: ", array[0:2])

Array :  [1, 1.5, 'Hello']
Value at index 0:  1
Value from 0 to 1:  [1, 1.5]



```
Data in python is mutable and value of them can be altered
```

**Python Tuples**



*   Ordered sequence of items
*   Similar to lists
*   Data is immutable (cannot be altered)
*   Defined by value seperated by comma(,) inside paranthese()

In [0]:
#Example of tuple
tuple = ("1", "5.0","String")
print("Tuple : ", tuple)

Tuple :  ('1', '5.0', 'String')

In [0]:
#Items cannot be assinged to the tuple
tuple[0] = 3

TypeError: ignored

**Python Set**



*   Unordered collection of unique items
*   Defined by values seperated by quama(,) inside curly braces
*   We can perform operations like union, intersection on two sets

In [0]:
#Example of set
set = {1, 10, 20, 30}
print("Set : ", set)

Set :  {1, 10, 20, 30}

In [0]:
#Set doesn't consider duplicate items
set = {1,1,3,5,5,6,7,9,9}
print("Set : ", set)

Set :  {1, 3, 5, 6, 7, 9}

In [0]:
#We cannot print particular items in a set as it is unordered collection
print("Item 1 : ", set[0])

TypeError: ignored

**Dictionary**

*   Unordered collection of Key-value pairs
*   Each value can be accessed using a key
*   Key value pairs can be defined seperated by comma(,) insied curly braces{}

In [0]:
#Example of a dictionary
dict = {'a':"Apple",'b':"Ball"}
print("Dictionary : ", dict)

Dictionary :  {'a': 'Apple', 'b': 'Ball'}

In [0]:
#Accesing dictionary element
print("Element with key \'a\' : ", dict['a'])

Element with key 'a' :  Apple

# **Conversion Between Data Types**

We can use different functions like float(), int(), str(), bool() to convert different values from one data type to another

In [0]:
#Examples of conversion
x = 5
print("x is of type : ", type(x), ": ", x)
x = float(x)
print("x is of type : ", type(x), ": ", x)

x is of type :  <class 'int'> :  5
x is of type :  <class 'float'> :  5.0

We can also convert one sequence to another



```
#Example
x = [1,2,3,4]
x = tuple(x)
```

We can also convert string to the list

In [0]:
#Converting a string to list
word = "Hello World"
word_list = list(word)
print(word_list)

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

# **Standard Input and Output Commands**

**Python Output**

*   Use print() function to print string as standard output

In [0]:
print("Hello world!")

Hello world!

We can also concatenate strings inside the function

In [0]:
print("Hello " + "World!")

Hello World!

**Output Formatting**

In [0]:
#Examples of output formatting
a,b = 10,20
print("The value of a is {} and b is {}".format(a,b))

The value of a is 10 and b is 20

In [0]:
#Another example is
print("Hello {name} , {greeting}".format(name = "Harish", greeting = "Good Evening!"))

Hello Harish , Good Evening!

In [0]:
#We can combine positional argument with key value argument
print("Hello {0} , {greeting}".format("Harish", greeting = "Good Morning!"))

Hello Harish , Good Morning!

**Python Output**

*   Use input() to take user input

In [0]:
x = input("Please enter name : ")
print("Given input is {} of type {}".format(x, type(x)))

Please enter name : Harish
Given input is Harish of type <class 'str'>

#**Operators in Python**

Special symbols in python used to perform arithmatical and logical operations

Types of operators

1.   Arithmatic Operators
2.   Relational Operatos
3.   Logical Operators
4.   Bitwise Operators
5.   Assingment Operators
6.   Special Operators

**1.Arithmatic Operators**

Used to perform mathematical operations like Addition, Subtraction, Multiplication, etc

In [0]:
#Example of arithmatic operators

x = 10 + 5
print("Addition : ",x)
x = 10 - 5
print("Subtraction : ",x)
x = 10 * 5
print("Multiplication : ",x)
x = 10 / 5
print("Division : ",x)
x = 10 % 5
print("Reminder : ",x)
x = 10 // 5
print("Floor Division : ",x)
x = 2**3
print("Exponential : ",x)

Addition :  15
Subtraction :  5
Multiplication :  50
Division :  2.0
Reminder :  0
Floor Division :  2
Exponential :  8

**2.Logical Operators**

Used to compare two numbers

In [0]:
x,y = 10,20
print(x > y)
print(x < y)
print(x == y)
print(x != y)
print(x >= y)
print(x <= y)

False
True
False
True
False
True

**3.Logical Operators**

Used to perform logical operations like AND OR and NOT

In [0]:
x, y = True, False
print(x and y)
print(x or y)
print(not x)

False
True
False

**4.Assingment Operators**

Used to assing the values to the vriables at the left hand side

In [0]:
a = 10
print(a)
a += 10
print(a)
a -= 10
print(a)
a /= 10
print(a)
a *= 10
print(a)
a %= 10
print(a)
x = 5
x **= 2
print(x)

10
20
10
1.0
10.0
0.0
25

**5.Identity Operators**

Operators **is** and **is not** are identity operators. They are used to determine if two variables point to same memory location or not

In [0]:
a, b = 5, 5
print(a is b)
print(a is not b)
b = 7
print(a is not b)

True
False
True

**6.MemberShip Operators**

**in** and **not in** are the membership operators

Used to test whether a number is found in a sequence (string, list, tuple, set, dictionary)

In [0]:
x = [1,2,3,4]
print(1 in x)
print(7 in x)
print(7 not in x)

True
False
True

#**Control Flow Statements : IF ELSE**

**1. IF statement**

If test expression is true, the code after colon(:) runs, otherwise the code is skipped



```
if test expression : 
      statement(s)
```

In [0]:
x = 10
if x == 10:
  print("Yeah! Code Ran...")
if x == 20:
  print("This code should not run...")

Yeah! Code Ran...

**0** and **None** are taken as false by python and all the other values are taken as true

In [0]:
if 0:
  print("This code will not run")
if None:
  print("This code will also not run")
if 10:
  print("Yeah! 10 is taken as true because its not 0 or None")

Yeah! 10 is taken as true because its not 0 or None

**2. IF ELSE statement**



```
if test expression:
  body of if
else:
  body of else
```

In [0]:
#Example of if else
x = 20
if x > 10:
  print("The expression was true")
else:
  print("The expression was false")

The expression was true

**3. IF ELIF ELSE statement**



```
if test expression:
  body of if
elif test expression:
  body of elif
elif test expression:
  body of elif
else:
  body of else
```

In [0]:
#Example of if elif else
x = 10
if x > 10:
  print("Greater than ten")
elif x == 10:
  print("Equal to ten")
else:
  print("Less than 10")

Equal to ten

**4. Nested IF ELSE statement**



```
if text expression:
  if test expression:
    body of nested if
  else:
    body of nested else
else:
  body of else
```

In [0]:
x = 10
if x != 0:
  if x > 0:
    print("Positive Number {}".format(x))
  else:
    print("Negative number {}".format(x))
else:
  print("Zero 0")

Positive Number 10

#**Control flow statements : LOOPS**

**1. FOR loop**



```
for element in sequence:
  body of loop
```

In [0]:
#For loop for one step iteration
for x in range(4) :
  print(x + 1)

1
2
3
4

In [0]:
#For loop for two step iteration
for x in range(0,25,5):
  print(x)

0
5
10
15
20

In [0]:
#For loop for iterating through a list
list = [5,6,7,8]
for x in list:
  print(x)
  
#For list of strings
list = ["Harish", "Amit", "Suyash", "Akash"]
for x in range(len(list)):
  print(list[x])

5
6
7
8
Harish
Amit
Suyash
Akash

We can also combine else with for in python. After the execution of loop is over, the else will execute once at the last. See the example below:

In [0]:
#For loop with ELSE statemnt
for x in range(4):
  print(x)
else:
  print("Iteration over.")

0
1
2
3
Iteration over.

**2. WHILE loop**



```
while test expression:
  body of while loop
```

The body of loop executes when the test expression is true. After one iteration, it checks test expression again and it breaks when the test expression is false

In [0]:
#Example for for loop
x = 0;
while x < 5:
  x+=1
  print(x)

1
2
3
4
5

Just like for loop, there is also a **while** loop with **else** in python. When the test expression of loop fails, it execute **else** part once. When we exit loop with the help of **break**, the **else** is ignored.

In [0]:
#Example for for loop with else
x = 0;
while x < 5:
  x+=1
  print(x)
else:
  print("Loop is finished")

1
2
3
4
5
Loop is finished

#**break and continue**



*   Can alter the flow of a normal loop
*   When we wish to terminate the loop without test expression being false, we use break.
*   When we wish to move the loop to the next iteration without it being complete we use continue

**1. Python break keyword**



```
loop test expression: 
  body of loop
  if test expression:
    break
  else:
    body of else
```

In [0]:
#Example of break
x = [1,2,3,4,6,7,8,10]
for arr in x:
  print(arr)
  if arr == 4:
    break
#The loop will be terminated without full execution when the list item contains 
#value "4"

1
2
3
4

**2. Python continue Keyword**



```
loop test expression:
  if test expression:
    continue
  else:
    body of else
```

In [0]:
#Example of code
arr = [1,2,3,4,5]
for x in arr:
  if x == 4:
    print("Dont print x when x == 4")
    continue
  print(x)

1
2
3
Dont print x when x == 4
5